$black: #000;
$white: #fff;

$app-color: #00d090;
$app-hover-color: #059669;
$app-gray-background: #f5f5f5;

$gray-text: #3a354199;

$field-bg: #f5f5f5;
$field-border: #dadada;
$field-text: #808080;
$error-text: #c70039;
